html {
  font-family: Helvetica;
  font-family: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
div {
  display: block;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*Header*/
header {
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
}

.logo {
  display: flex;
  width: 50%;
  margin-left: 10px;
}

.logo img {
  height: 50px;
  width: 180px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.nav span a {
  color: white;
  padding: 20px 20px;
}
/*Main content*/
.main {
  padding-top: 69px;
  opacity: 0.9;
  width: 1200px;
  margin:auto;
  /*display: flex;
  justify-content: center*/
}
/*Mission styles*/
#mission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  margin-top: 70px;
}

.text-content {
  background-color: black;
  width: 100%;
}

/*Featured-Tea styles*/
#items {
  display: flex;
  width: 1000px;
  height: 700px;
}

#store {
  display: flex;
  /*flex-wrap: wrap;
  justify-content: center;*/
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}


.item img {
  display: inline-flex;
  justify-content:center;
  align-content: space-around;
  height: 200px;
  width: 300px;
}
